<h1>Add Book</h1>

<form action="/books/add" method="POST" class="w-50">

  <label>Title</label>
  <input type="text" name="title" class="form-control" required>

  <label>Author</label>
  <input type="text" name="author" class="form-control" required>

  <label>Price</label>
  <input type="number" name="price" class="form-control" required>

  <label>Published Year</label>
  <input type="number" name="publishedYear" class="form-control" required>

  <button class="btn btn-success mt-3">Add Book</button>
</form>
